.down_components {
  display:flex;
  padding: 4rem;
  justify-content: center;
 
}

body {
  background-color:#F3F2EF !important;
}



@media (max-width: 765px) {
  .down_components {
    display:flex;
    flex-direction: column;
    padding: 1rem !important;
    
   
   
  }
  body {
    overflow-x: hidden;
    max-width: 100%;
  }
 
}
