.left-box {
   
   margin-top: 4rem !important;
   position:sticky;
   border: 1px solid black;
    margin-right: 2rem;
    color:cadetblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.back_img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


.img_box {
    position: relative;
}


.profile_img {
    width: 80px;
   
    

}






@media (max-width: 765px) {
    .left-box{
        margin-right: 0rem;
        margin-top:100px !important;

      
    }
  }